<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Register Page</title>
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>

<body class="bg-zinc-100 flex items-center justify-center h-screen">
  <div class="flex items-center justify-center h-full">
    <form action="/saveusers" method="POST" class="bg-white shadow-lg rounded-lg overflow-hidden max-w-md flex">
      <div class="w-1/2">
        <img src="https://source.unsplash.com/600x800/?food" alt="Food" class="w-full h-full object-cover" />
      </div>
      <div class="w-1/2 p-8">
        <h2 class="text-2xl font-semibold text-zinc-700">Register</h2>
          <div class="mt-4">
            <label for="Nama" class="block text-zinc-700">Nama</label>
            <input
              type="text"
              id="Nama"
              name="Nama"
              placeholder="Masukkan Nama Anda"
              class="mt-1 p-2 w-full border rounded-md"
            />
          </div>
          <div class="mt-4">
            <label for="Email" class="block text-zinc-700">Email</label>
            <input
              type="email"
              id="Email"
              name="Email"
              placeholder="Masukkan Email Anda"
              class="mt-1 p-2 w-full border rounded-md"
            />
          </div>
          <div class="mt-4">
            <label for="Password" class="block text-zinc-700">Password</label>
            <input
              type="password"
              id="Password"
              name="Password"
              placeholder="Masukkan Password Anda"
              class="mt-1 p-2 w-full border rounded-md"
            />
          </div>
          <div class="mt-4">
            <label for="No_telp" class="block text-zinc-700">Nomor Telfon</label>
            <input
              type="tel"
              id="No_telp"
              name="No_telp"
              placeholder="Masukkan Nomor Anda"
              class="mt-1 p-2 w-full border rounded-md"
            />
          </div>
          <div class="mt-4">
            <label for="Alamat" class="block text-zinc-700">Alamat</label>
            <input
              type="text"
              id="Alamat"
              name="Alamat"
              placeholder="Masukkan Alamat Anda"
              class="mt-1 p-2 w-full border rounded-md"
            />
          </div>
          <div class="flex justify-between items-center mt-4">
            <div>
              <input type="checkbox" id="remember" name="remember" />
              <label for="remember" class="text-sm text-zinc-600">Remember me</label>
            </div>
        </div>
        <br>
        <button type="submit" class="bg-green-500 hover:bg-green-600 text-white font-bold py-2 px-4 rounded">
            Register
        </button>
        <br>
        <br>
        <span class="text-secondary">Already have an account?</span>
        <a href="/login" class="text-sm text-orange-500 hover:underline">Login</a>
      </div>
    </form>
  </div>
</body>

</html>
