<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>HokBen Kw</title>
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">
<link rel="stylesheet" href="css/style.css"> <!-- Tautan ke file CSS -->

</head>
    <body>

        <img src="images/nav_login.png" alt="Gambar Atas" class="nav-image">
        <button class="login-button">
            <%= email %>
        </button>
        <button class="icon-button" style="margin-right: 90px;">
            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-person-fill login-icon" viewBox="0 0 16 16">
                <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6"/>
            </svg>
        </button>

        <header>
            <nav>
                <!-- Logo -->
                <div class="logo">
                    <img src="images/HOKBEN.png" alt="Logo">
                </div>
        
                <!-- Menu -->
                <ul class="menu">
                    <li><a href="#" class="active">Beranda</a></li>
                    <li><a href="/menu/users">Menu</a></li>
                    <li><a href="/outlet/users">Outlet</a></li>
                    <li><a href="#">Promo</a></li>
                    <li><a href="#">Perusahaan</a></li>
                    <li><a href="#">Berita</a></li>
                    <li><a href="#">Kontak Kami</a></li>
                </ul>
        
                <!-- Cart and Order Buttons -->
                <div class="cart-and-order" style="margin-right: 50px;">
                    <button class="cart-btn">
                        <i class="fas fa-cart-shopping cart-icon" style="margin-top: 4px; margin-right: 30px;"></i>
                        <span class="cart-count">0</span>
                    </button>
                    <button class="order-btn">Pesan Sekarang</button>
                </div>
            </nav>
        </header>

        <!-- Photo Section -->
        <img src="images/gambar_samping1.png" alt="Photo 1" class="photo left">
        <section class="photo-section">
            <img src="images/sponsor1.png" alt="Photo 2" class="photo center" id="center-photo">
        </section>
        <img src="images/gambar_samping2.png" alt="Photo 3" class="photo right">
        
        <!-- Rekomendasi Section -->
        <section class="rekomendasi-section">
            <h2 class="rekomendasi-title">REKOMENDASI</h2>
            <div class="rekomendasi-cards">
                <div class="card">
                    <img src="images/rek1.png" alt="Product 1" class="card-image">
                    <div class="keterangan">
                        <p><strong>HOKA HEMAT 1</strong></p>
                        <p>お得なセット</p>
                        <p>Rp. 27.500</p>
                    </div>
                    <div class="details">
                        <p style="color: #d91319; text-decoration: underline;">Detail</p>
                        <button class="pesan-button">+ Pesan</button>
                    </div>
                </div>                
                <div class="card">
                    <img src="images/rek2.png" alt="Product 2" class="card-image">
                    <div class="keterangan">
                        <p><strong>HOKA HEMAT 3</strong></p>
                        <p>お得なセット</p>
                        <p>Rp. 27.500</p>
                    </div>
                    <div class="details">
                        <p style="color: #d91319; text-decoration: underline;">Detail</p>
                        <button class="pesan-button">+ Pesan</button>
                    </div>
                </div>
                <div class="card">
                    <img src="images/rek3.png" alt="Product 3" class="card-image">
                    <div class="keterangan">
                        <p><strong>PAKET C</strong></p>
                        <p>C セット</p>
                        <p>Rp. 56.000</p>
                    </div>
                    <div class="details">
                        <p style="color: #d91319; text-decoration: underline;">Detail</p>
                        <button class="pesan-button">+ Pesan</button>
                    </div>
                </div>
                <div class="card">
                    <img src="images/rek4.png" alt="Product 4" class="card-image">
                    <div class="keterangan">
                        <p><strong>SIMPLE SET CHICKEN TERIYAKI 1</strong></p>
                        <p>シンプルセット照り焼き１</p>
                        <p>Rp. 41.500</p>
                    </div>
                    <div class="details">
                        <p style="color: #d91319; text-decoration: underline;">Detail</p>
                        <button class="pesan-button">+ Pesan</button>
                    </div>
                </div>
                <div class="card">
                    <img src="images/rek5.png" alt="Product 5" class="card-image">
                    <div class="keterangan">
                        <p><strong>HOKA HEMAT 2</strong></p>
                        <p>お得なセット</p>
                        <p>Rp. 27.500</p>
                    </div>
                    <div class="details">
                        <p style="color: #d91319; text-decoration: underline;">Detail</p>
                        <button class="pesan-button">+ Pesan</button>
                    </div>
                </div>
            </div>
        </section>

        <!-- Informasi Section -->
        <section class="informasi-section">
            <div class="informasi-content">
                <!-- Foto Jam -->
                <img src="images/jam.png" alt="Foto Jam" class="foto-jam">

                <!-- Kalimat "Kami Pastikan" -->
                <p class="info-text-1">Kami Pastikan</p>

                <!-- Kalimat "Produk akan terkirim tepat Waktu" -->
                <p class="info-text-2">Produk akan terkirim tepat Waktu</p>

                <!-- Kalimat "Jika Anda mengadakan rapat..." -->
                <p class="info-text-3">Jika Anda mengadakan rapat, bekerja larut malam dan perlu dorongan ekstra. Beri tahu kami dan kami akan berada di sana.</p>
            
                <!-- Tiga Elemen dalam Satu Baris -->
                <div class="inline-elements">
                    <button class="order-btn-2">Pesan Sekarang</button>
                    <p class="info-text-4">ATAU</p>
                    <img src="images/hokben_delivery.png" alt="Foto Hokben deliver" class="hokben-deliver">
                </div>
            </div>
        </section>

        <!-- Footer Section -->
        <section class="footer-section">
            <div class="footer-content">
                <div class="footer-links">
                    <h3 class="footer-title">TAUTAN</h3>
                    <div class="footer-links-group">
                        <div class="footer-links-column">
                            <p class="footer-text"><a href="#">Tentang Kami</a></p>
                            <p class="footer-text"><a href="#">Kontak Kami</a></p>
                            <p class="footer-text"><a href="#">Syarat dan Ketentuan</a></p>
                        </div>
                        <div class="footer-links-column-2">
                            <p class="footer-text"><a href="#">Kebijakan Privasi</a></p>
                            <p class="footer-text"><a href="#">Pelacak Pesanan</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-logo">
                <img src="images/deliver.png" alt="Logo footer" class="gambar-footer">
            </div>
            <div class="footer-sosmed">
                <p class="footer-text ikuti-kami">IKUTI KAMI</p>
                <img src="images/yt.png" alt="Logo YouTube">
                <img src="images/tweet.png" alt="Logo Twitter">
                <img src="images/fb.png" alt="Logo Facebook">
                <img src="images/ig.png" alt="Logo Instagram">
                <img src="images/tiktok.png" alt="Logo TikTok">
                <img src="images/wa.png" alt="Logo WhatsApp">
            </div>
            <!-- Tambahkan gambar-gambar sosial media tambahan di sini -->
                <img src="images/dw_app.png" alt="Extra Image 1" class="sosmed-extra-1">
                <img src="images/dw_gugel.png" alt="Extra Image 2" class="sosmed-extra-2">
            <div class="text-footer">
            <p >Semua gambar dan materi dilindungi hak cipta dan merupakan milik PT Eka Bogainti. 
                Penggunaan dan / atau duplikasi gambar dan materi ini tanpa izin adalah melanggar hukum.</p>
            </div>

            <img src="images/frame_bawah.png" alt="backgorund footer" class="bg-footer">
        </section>

    <script src="js/script.js"></script> <!-- Tautan ke file JavaScript -->
</body>
</html>